<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask + PostgreSQL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Flask + PostgreSQL</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="messages">
                {% for category, message in messages %}
                    <div class="flash {{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <h2>Add user</h2>
    <form action="/add-user" method="post">
        <input type="text" name="name" placeholder="Enter name" required>
        <input type="email" name="email" placeholder="Enter email">
        <button type="submit">Add</button>
    </form>

    <h2>Users</h2>

    {% if users %}
        <ul>
            {% for user in users %}
                <li>
                    <div>
                        <strong>{{ user[0] }}</strong>: {{ user[1] }}
                        {% if user[2] %}
                            <br>
                            <small>{{ user[2] }}</small>
                        {% endif %}
                    </div>

                    <form action="/edit-user/{{ user[0] }}" method="post">
                        <input type="text" name="name" value="{{ user[1] }}" required>
                        <input type="email" name="email" value="{{ user[2] or '' }}" placeholder="Enter email">
                        <button type="submit">Save</button>
                    </form>

                    <form action="/delete-user/{{ user[0] }}" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No users in database</p>
    {% endif %}
<h2>Search</h2>
<form method="get" action="/">
    <input type="text" name="q" value="{{ query or '' }}" placeholder="Search">
    <button type="submit">Search</button>
</form>
<div style="margin-top: 20px;">
    {% if page > 1 %}
        <a href="?q={{ query }}&page={{ page - 1 }}">⬅ Prev</a>
    {% endif %}

    <span> Page {{ page }} / {{ total_pages }} </span>

    {% if page < total_pages %}
        <a href="?q={{ query }}&page={{ page + 1 }}">Next ➡</a>
    {% endif %}
</div>
</body>
</html>